name: skibidinews

x-common-env: &common_env
    OPENAI_API_KEY: "${OPENAI_API_KEY:-}"

services:
    mcp_router_agent:
        build:
            context: ./router_agent
            dockerfile: Dockerfile
        environment:
            <<: *common_env
        depends_on:
            - mcp_prompt_opt
            - mcp_text_to_video
            - mcp_humorizer
            - mcp_news_aggr
        volumes:
            - ./synthesized_speech:/app/synthesized_speech
            - ./finished_videos:/app/finished_videos
        ports:
            - "127.0.0.1:8000:8000"
        networks:
            - appnet

    mcp_frontend:
        build:
            context: ./skibidi-news-frontend
            dockerfile: Dockerfile
        environment:
            VITE_NEWS_API_BASE: http://127.0.0.1:8000/news
            VITE_HUMOR_API_BASE: http://127.0.0.1:8000/humorize_news
            VITE_ROUTER_API_BASE: http://127.0.0.1:8000
        ports:
            - "127.0.0.1:5173:5173"
        volumes:
            - ./skibidi-news-frontend:/app
            - /app/node_modules
        networks:
            - appnet
        depends_on:
            - mcp_router_agent

    mcp_humorizer:
        build:
            context: ./mcp_humorizer
            dockerfile: Dockerfile
        environment:
            <<: *common_env
            MODEL_PROVIDER: ${MODEL_PROVIDER}
            HUMOR_STYLE: ${HUMOR_STYLE}
            HTTP_TIMEOUT: ${HTTP_TIMEOUT}
            MAX_OUTPUT_TOKENS: ${MAX_OUTPUT_TOKENS}
            TEMPERATURE: ${TEMPERATURE}

        networks:
            - appnet
        #restart: unless-stopped

    mcp_news_aggr:
        build:
            context: ./mcp_news_aggr
            dockerfile: Dockerfile
        environment:
            <<: *common_env
        networks:
            - appnet
        restart: unless-stopped

    mcp_prompt_opt:
        build:
            context: ./mcp_prompt_opt
            dockerfile: Dockerfile
        environment:
            <<: *common_env
        networks:
            - appnet
        restart: unless-stopped

    mcp_text_to_video:
        build:
            context: ./mcp_text_to_video
            dockerfile: Dockerfile
        environment:
            <<: *common_env
            AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
            AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
            AWS_REGION: ${AWS_REGION}
            OAUTH2_BASE64: ${OAUTH2_BASE64}

        networks:
            - appnet
        volumes:
            - ./finished_videos:/app/results
        restart: unless-stopped

networks:
    appnet:
        driver: bridge
